.gameElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 1px solid #000;
  background: red;
  color: #fff;
}

.cellOne {
  width: 30px;
}

.cellTwo {
  width: 60px;
}

.cellThree {
  width: 90px;
}

.cellFoure {
  width: 110px;
}

.cellFive {
  width:140px;
}

.cellSix {
  width: 170px;
}

.cellSeven {
  width: 200px;
}
