body {
  height: 100vh;
  margin: 0;
  background: rgb(41,244,154);
  background: -moz-linear-gradient(180deg, rgba(41,244,154,1) 0%, rgba(15,189,217,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(41,244,154,1) 0%, rgba(15,189,217,1) 100%);
  background: linear-gradient(180deg, rgba(41,244,154,1) 0%, rgba(15,189,217,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#29f49a",endColorstr="#0fbdd9",GradientType=1); 
}
